<footer id="footer" class="mt-5 pt-3">
    <div class="container-fluid" id="inner-footer">
        <div class="row">
            <div class="col-md-2 row-col">
                <ul>
                    <h4>Get to Know Us</h4>
                    <li><a href="https://nitsikkim.ac.in/">About Us</a></li>
                    <li><a href="https://www.nitsikkim.ac.in/TEQIP%20III/about.php">Contact Us</a></li>
                    <li><a href="https://placement.nitsikkim.ac.in/">Press</a></li>
                </ul>
            </div>
            <div class="col-md-3 row-col">
                <ul>
                    <h4>Help</h4>
                    <li><a href="https://physics.nitsikkim.ac.in/">Payments</a></li>
                    <li><a href="https://chemistry.nitsikkim.ac.in/">Shipping</a></li>
                    <li><a href="https://math.nitsikkim.ac.in/">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-2 row-col">
                <ul>
                    <h4>Policy</h4>
                    <li><a href="people.php?type=faculty">Return Policy</a></li>
                    <li><a href="researcher.php">Privacy</a></li>
                    <li><a href="people.php?type=staff">Security</a></li>
                </ul>
            </div>
            <div class="col-md-2 row-col">
                <ul>
                    <h4>Mail Us</h4>
                    <li><a href="mailto:rishabhsharma952000@gmail.com"><span
                        class="material-icons left-align">mail</span><span>rishabhsharma952000@gmail.com</span></a></li><br>
                </ul>
            </div>
            <div class="col-md-3 row-col">
                <ul>
                    <h4>Registered Office Address:</h4>
                    <li>
                        <a href="https://g.page/JAYPEEAGRA?share" target="_blank">
                            <table>
                                <tbody>
                                    <td class="align-top">
                                        <i class="material-icons left-align">location_on</i>
                                    </td>
                                    <td>
                                        <span>73,Saraswat Enclave Agra</span>
                                    </td>
                                </tbody>
                            </table>
                        </a>
                    </li><br>
                    <li><a href="tel:+91 9520313045"><span class="material-icons left-align">call</span><span>+91 9520313045</span></a></li><br>
                    
                    <form id="feedback-form" method="POST" action="api/feedback_script.php">
                        <div class="form-group">
                            <label for="feedback-text">
                                <h4>Feedback</h4>
                            </label>
                            <input type="hidden" name="rating" id="rating" value="0">
                            <textarea id="feedback-text" class="feedback-box" name="anonymous-feedback"
                                placeholder="Write your Feedback" rows="1" cols="50" required></textarea>
                        </div>
                        <button type="submit" id="feedback-submit-btn"
                            name="submit-feedback"><span>Submit</span></button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright mb-3">
        <b>&copy;2020-2021 E-mart<sup style="text-size-adjust: 2px; font-size:x-small;">IN</sup>.com</b>
    </div>
</footer>
