{% extends 'shop/basic.html' %} {%block title%} About {% endblock %} {%block body%}
<main role="main">
    {% load static %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Rish-hub!</h1>
            <p>Rish-hub is an Indian e-commerce company based in Agra, Uttar pradesh, India. It was founded by Rishabh Sharma in 2020. The company initially focused on book sales, before expanding into other product categories such as consumer electronics,
                fashion, home essentials & groceries, and lifestyle products. The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal.[6][7] As of March 2020, Rish-hub held a 39.5% market share of India's e-commerce
                industry.[8] Rish-hub is significantly dominant in the sale of apparel (a position that was bolstered by its acquisition of Myntra), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[9]
                Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI). </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>CEO</h2>
                <p><img src="{% static '/shop/Rishabh.jpg' %}" height=200 width=200> </p>
                <p><a class="btn btn-secondary" href="#" role="button">Rishabh Sharma&raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>CFO</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>COO</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>


    </div>
    <!-- /container -->
    <footer style=" 

    bottom:0;
    width:100%;
    height:50px;   
    background:#000;
    color: wheat;
    text-align: center;
    ">
        <p style="margin-top: 20px;"> Copyright &copy <a style="text-decoration:none; color: orangered;" href="#">Rish-hub.</a> All Rights Reserved | Contact Us: +91 9520313045</p>
    </footer>
</main>


{% endblock %}