{% extends 'shop/basic.html' %} {%block title%} E-mart {% endblock %} {%block css%}{% load static %}
<style>
    html,
    body {
       
        width: 100%;
        margin: 0px;
        padding: 0px;
        font-family: "Rubik", sans-serif !important;
        scroll-behavior: smooth !important;
            transition: all 0.25s ease;
    }
    
    
    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }

    
    .carousel-indicators.active {
        background-color: black;
    }
    
    .col-md-3 img {
        width: 165px;
        height: 165px;
       
    }
    
    .carousel-indicators li {
        background-color: black;
    }
 
    
    .carousel-indicators {
        bottom: -40px;
    }
    
    .carousel-indicators.active {
        background-color: black;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        top
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: auto;
        padding-top: 222px;
    }
    
    body.no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    
    .banner-image {
        padding-top: 560px;
        padding-bottom: 180px;
        text-align: center;
        color: #f8f8f8;
        width: auto;
        min-height: 500px;
        background: url("{% static '/shop/hanger.jpg' %}") no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        
    }
    .nav-button-index {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
}
.nav-button {
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    font-weight: 300;
    background-color: #00000087;
    font-size: 1.5rem;
}
    /*  */
    /* Full-width input fields */
 .body- {
  background: linear-gradient(0deg, #fff, 50%, #deeefe);
  font-family: "Rubik", sans-serif !important;
  background: #1e242a;
  height: 100 !important;
}

footer {
  color: #caced1 !important;
}

.row-1 {
  background-color: #1e242a !important;
}

.text-hover:hover {
  color: #fff;
}

a {
  text-decoration: none !important;
  color: #caced1 ;
}
.hover-github {
  color: #fff;
}
.hover-github:hover {
  color: #000;
  transition: all 0.1s ease-in-out;
}
.hover-fb {
  color: #fff;
}
.hover-fb:hover {
  color: rgb(5, 5, 153);
  transition: all 0.1s ease-in-out;
}
.hover-insta {
  color: #fff;
}
.hover-insta:hover {
  color:  #8a3ab9;
  transition: all 0.1s ease-in-out;
}
.hover-twitter {
  color: #fff;
}
.hover-twitter:hover {
  color: #55acee;
  transition: all 0.1s ease-in-out;
}

</style>
{% endblock %} {%block body%} {% load static %} {% for product,range,ns in allprods %}

<main>
    <div class="container-fluid " style="margin-top: 50px;">
        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-2  mt-3 my-4" id="{{product.0.category}}">
            <div style="border-left:4px solid black" >
            <h3 class="pl-2 ">{{product.0.category}}</h3>
            </div>
            </div>
        <!-- <h1 class="my-4"><b>{{product.0.category}}</b></h1> -->
        <div class="row">
            <div id="demo{{forloop.counter}}" class=" col carousel slide my-3" data-ride="carousel" data-interval="false">
                <ul class="carousel-indicators">
                    <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                    {% for i in range %}
                    <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                    {% endfor %}
                </ul>
                <!-- slide show start here -->
                <div class="container carousel-inner no-padding">

                    <div class="carousel-item active">

                        {% for i in product %}
                        <div class="col-12 col-xs-3 col-md-3 col-lg-3">
                            <div class="card align-items-center mt-2">
                                 <img class="card-img" src='/media/{{i.image}}' alt="vans">
                                <div class="card-body">
                                    <h5 class="card-title" id="namepr{{i.id}}" style=" height: 40px;">{{i.product_name}}</h5>
                                    <p class="ml-2" style="color: #EE4347;display: inline;"><span class="normal" style="
                                        text-decoration: line-through; 
                                        color: rgb(49, 49, 49);   
                                        padding-right: 10px;
                                        font-family: 'Avenir', Sans-Serif;
                                        ">₹ {{i.price|add:"200"}}
                                    </span><b><span class="text-success" style='font-size:20px;'>&#8377;</span>
                                    <span id="pricepr{{i.id}}" class="text-success" style='font-size:24px;' >{{i.price}}</span></b>
                                </p>
                                    <p class="card-text">{{i.desc}}</p>
                                    <span id="divpr{{i.id}}" class="divpr">
                      <button  id="pr{{i.id}}"  class="btn btn-danger  cart"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                        </span>
                        <a href="/shop/prodview/{{i.id}}"><button  id="qv{{i.id}}"  class="btn btn-dark ">View</button></a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last%}
                    </div>
                    <div class="carousel-item">
                        {% endif %} {% endfor%}
                    </div>
                </div>
            </div>
            <a class='carousel-control-prev' href="#demo{{forloop.counter}}" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class='carousel-control-next' href="#demo{{forloop.counter}}" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        {% endfor %}

    </div>
</main>

<footer class="container-fluid mb-0 body- mt-5" style="
left:0;
position: absolute;
width:100%;   
text-align: center;
">
<div class="row justify-content-center py-5">
    <div class="col-12">
        <div class="row">
            <div class="col-md-2 col-sm-2 my-auto mx-auto ">
                <h3 class="mb-md-0 mb-3 font-weight-bold  text-white">E-mart <sup style="text-size-adjust: 2px; font-size:x-small;">IN</sup></h3>
                <div class=" d-sm-flex justify-content-start d-block pt-lg-3 mt-1 pb-3">
               <a href="https://github.com/rishabh-stack"><i class="fab fa-github fa-2x mr-lg-3 mr-2 hover-github"></i></a>
               <a href="https://www.facebook.com/rishabh.tenguria.7/"><i class="fab fa-facebook fa-2x mr-lg-3 mr-2 hover-fb"></i></a>
               <a href="https://www.instagram.com/rishabh.sharma5/"><i class="fab fa-instagram fa-2x mr-lg-3 mr-2 hover-insta"></i></a>
               <a href="https://twitter.com/Rishabh14849692"><i class="fab fa-twitter fa-2x mr-lg-3 mr-2 hover-twitter"></i></a>
               </div>
            </div>
            <div class=" col-md-2 col-sm-2 my-auto mx-auto">
                <h6 class="mb-3 mb-lg-4 bold-text text-white"><b>Get to Know Us</b></h6>
                <ul class="list-unstyled ">
                    <li><a href="/shop" class="text-hover" >Home</a></li>
                    <li><a href="/shop/about" class="text-hover">About Us</a></li>
                    <li><a href="/shop/contact" class="text-hover">Contact Us</a></li>
                    <li><a href="/blog" class="text-hover">Press</a></li>
                </ul>
            </div>
            <div class=" col-md-2 col-sm-2">
                <h6 class="mb-3 mb-lg-4 bold-text text-white"><b>Help</b></h6>
                <ul class="list-unstyled">
                <li><a href="javascript:void(0)" class="text-hover" >Payments</a></li>
                    <li><a href="/shop/tracker" class="text-hover">Shipping</a></li>
                    <li><a href="/shop/privacy-policy" class="text-hover">FAQ</a></li>
                </ul>
            </div>
            <div class=" col-md-2 col-sm-2">
                <h6 class="mb-3 mb-lg-4 bold-text text-white"><b>Policy</b></h6>
                <ul class="list-unstyled">
                    <li><a href="/shop/privacy-policy" class="text-hover" >Return Policy</a></li>
                    <li><a href="/shop/privacy-policy" class="text-hover">Privacy</a></li>
                    <li><a href="/shop/privacy-policy" class="text-hover">Security</a></li>
                </ul>
            </div>
            <div class=" col-md-2 col-sm-2">
                <h6 class="mb-3 mb-lg-4 bold-text text-white"><b>Mail Us</b></h6>
                <ul class="list-unstyled">
                    <li><a href="mailto:e-mart@gmail.com" class="text-hover" >e-mart@gmail.com</a></li>
                </ul>
            </div>
            <div class=" col-md-2 col-sm-2">
                <h6 class="mb-3 mb-lg-4 bold-text text-white mt-sm-0 mt-5"><b>Registered Office Address:</b></h6>
                <ul class="list-unstyled">
                <li>
                    <a class="text-hover" href="https://g.page/JAYPEEAGRA?share" target="_blank">
                                    <i class="fas fa-map-marker-alt"></i>
                               
                                    <span>73,Saraswat Enclave Agra</span>
                           
                    </a>
                </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
<center><small class="rights"><span>&#174;</span> E-mart All Rights Reserved 2021.</small></center>
</footer>

{%endblock%} {%block js %}
<script>
    // Get the login_model
    var login_model = document.getElementById('login_id');
    var sign_model = document.getElementById('signup_id');

    //if any one click outside my login page and signup page it will close 
    window.onclick = function(event) {
            if (event.target == login_model) {
                login_model.style.display = "none";
            }
            if (event.target == sign_model) {
                sign_model.style.display = "none";
            }
        }
        //  document.write("hello")
    if (localStorage.getItem("cart") == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem("cart"));
        updateCart(cart);
    }

    $('.divpr').on('click', 'button.cart', function() {

        var ids = this.id.toString();
        if (cart[ids] != undefined) {
            qty = cart[ids][0] + 1;
        } else {
            qty = 1;
            name = document.getElementById('name' + ids).innerHTML;
            price = document.getElementById('price' + ids).innerHTML;
            cart[ids] = [qty, name, parseInt(price)];
            console.log(cart[ids]);
        }

        updateCart(cart);
    });
    //  for pop over of items in our cart
    $('#popcart').popover();

    function updatePopover(cart) {
        var pop = "";
        pop = pop + "<h5>cart of your items</h5><div class=' mx-2 my-2'>";
        var i = 1;
        for (var item in cart) {
            pop = pop + "<b>" + i + "." + "</b>";
            pop = pop + "  " + document.getElementById("name" + item).innerHTML + " " + "Qty:" + " " + cart[item][0] + "<br>";
            i = i + 1;
        }
        pop = pop + "</div> <a href='/shop/checkout'class='btn btn-outline-dark' id ='checkout'>Checkout</a> <a href='/shop' id ='clearcart' class='btn btn-outline-dark mx-2' >ClearCart</a>   "
        document.getElementById("popcart").setAttribute("data-content", pop);
        $('#popcart').popover('show');

    }



    function updateCart(cart) {
        var sum = 0;
        for (var item in cart) {
            sum = sum + cart[item][0];
            document.getElementById('div' + item).innerHTML = "<button id= 'minus" + item + "'class='btn btn-danger  minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-danger plus'> + </button>";

        }
        localStorage.setItem("cart", JSON.stringify(cart));
        document.getElementById("cart").innerHTML = sum;
        updatePopover(cart);

    }
    $('.divpr').on("click", "button.minus", function() {
        a = this.id.slice(7, );
        cart['pr' + a][0] = cart['pr' + a][0] - 1;
        cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
        if (cart['pr' + a][0] == 0) {
            document.getElementById('divpr' + a).innerHTML = '<button id="pr' + a + '" class="btn btn-danger  cart">Add To Cart</button>';
            delete(cart['pr' + a]);
        } else {
            document.getElementById('valpr' + a).innerHTML + cart['pr' + a][0];
        }
        updateCart(cart);

    });
    $('.divpr').on("click", "button.plus", function() {
        a = this.id.slice(6, );
        console.log("plus clicked")
        cart['pr' + a][0] = cart['pr' + a][0] + 1;
        document.getElementById('valpr' + a).innerHTML + cart['pr' + a][0];
        updateCart(cart);
    });
    $('#clearcart').click(localStorage.clear());
</script>
{% endblock %}